

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-results{
    list-style-type: none;
}

.list-results li{
    float: left;
    overflow: hidden;
    width: 24%;
    text-align: center;
    padding: 8px 0px;
    border: 1px solid black;
}

.list-results li:nth-child(4n+1){
    clear: both;
	}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Global                                    */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

*{
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif !important;
	margin: 0px;
	padding: 0px;
}

*:before, *:after { 
	box-sizing: inherit;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Default                                   */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

*{
    box-sizing: border-box; 
}

html{	
	box-sizing: border-box; 
    overflow-y: scroll;	
	height: 100%;
}

body {
    background-color: #ffffff;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Container                                 */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#wrapper {
    margin: 0px auto;
    max-width: 980px;
    padding: 80px 10px;
    min-width: 620px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Content                                   */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

h1.title{
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.5em;
    line-height: 30px;
    margin: 50px 0px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.search-box{
    overflow: hidden;
}

.search-box .search-input{
    float: left;
    width: 85%;
    background-color: #fff;
}

.search-box .search-input input#search{
    border: 0px;
    padding: 8px 15px;
    font-size: 12px;
    letter-spacing: 0.3em;
    min-width: 100%;
    border-left: 1px solid #ccc;
    border-right: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
}

.search-box .search-input input#search:focus {
    outline: none;
}

.search-box .search-button{
    float: left;
    width: 15%;
    text-align: center;
}

.search-box .search-button .btn{
    padding: 7px;
    width: 100%;
    outline: none;
    border-radius: 0;
    border: 0;
    display: block;
    background-color: transparent;
    color: #fff;
}

.search-box .search-button a{
    background-color: #058cc0;
    text-decoration: none;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.search-box .search-button a:hover{
    background-color: #00adef;
}

.search-box .search-button a:focus{
    background-color: #056589;
}

.filters {
    display: block;
    margin: 45px auto;
    max-width: 524px;
}

.filters label {
    margin-right: 25px;
}

.filters label:last-child{
    margin-right: 0px;
}

footer{
    text-align: center;
    letter-spacing: 0.1em;
}
/*
@media screen and (max-width: 920px) {
    .search-box .search-input input#search {
        width: 92%;
    }
}

@media screen and (max-width: 700px) {
    .search-box .search-button button {
        font-size: 10px;
        height: 34px;
    }
}*/