@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Question>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <div class="container">

        <div class="text-center">
            <h1>Spark Help</h1>
        </div>
        <br/>
        <br/>
        <!-- Search Navbar - START -->

       <div class="col-md-4 col-md-offset-4">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <a href="@Url.Action("Index", "Home", new {queried = "true"})"><button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></a>
                   </div>
               </div>
           </form>
       </div>
        
        @foreach (var question in Model)
        {
            string link = "http://www.stackoverflow.com" + @question.QuestionLink;

            <tr>
                <td class="col-sm-6 col-md-4">
                    <div class="media">
                                <a class="pull-left" href="@link" style="width: auto; height: 72px;">
                                    <h4 class="media-heading">@Html.DisplayFor(modelItem => question.QuestionTitle)</h4>
                                </a>
                    </div>
                </td>
            </tr>
        }
        <!-- Search Navbar - END -->

</div>